* {
    font-family: 'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

h2{
    font-size:30px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    width: 60px;
    height: 20px;
    background: blueviolet;
    color:white;
}

img{
    width: 100%;
}
iframe{
    width: 100%;
    height: 500px;
}

/* header */

header{
    background: blueviolet;
}

.header-section .logo{
    color: aliceblue;

}
.header-section .nav-menu .nav-link{
    color: white;
}

.header-section{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-section .nav-menu{
    display: flex;
    gap: 10px;
}

.header-section .nav-menu .nav-link{
    padding: 10px 18px;
    color: rgb(255, 255, 255);
    background:blueviolet;
    border-radius: 10px;
    transition: 0.3s ease;
}

.header-section .nav-menu .nav-link:hover{
    color: rgb(0, 0, 0);
    background: rgb(0, 234, 255);
}

.header-section #menu-close-button{
        color: blueviolet;
    }

 
.header-section #menu-open-button{
        color: blueviolet;
    }   

/*dev section*/
.dev-detail{
    color: white;
    background: black;
}

/*mordern section*/
.mordern-section{
    background: rgb(153, 240, 240);
}

.mordern-section .league-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 90px;
}

.mordern-section .league{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

footer{
    background: black;
    height: 50px;
}

/* responsive media query code*/
@media screen and (max-width: 900px) {
    .header-section .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        background: white;
        align-items: center;
        padding-top: 100px;
        transition:  left 0.2s ease;
    }

    body.show-mobile-menu header::before {
        backdrop-filter: blur(5px);
    }

    body.show-mobile-menu .header-section .nav-menu{
        left: 0;
    }

    .header-section .nav-menu .nav-link{
        color: black;
        font-size: 15px;
        display: block;
        margin-top: 17px;
        background: white;
    }
    
    .header-section :where(#menu-close-button #menu-open-button){
        font-size: 25px;
    }

    .header-section #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .header-section #menu-open-button{
        color: aliceblue;
    }

    .inro-details{
        flex-direction: column;
        justify-content: center;
    }


}


